@using UtilFactoria;
@using Entidades;
@model Entidades.T_GENM_USUARIO
@using System.Web.Mvc
@{

}
<script type="text/javascript" src="@Url.Content("~/Content/Scripts/Base/js_Main.js")"></script>

@*@if (ViewBag.FLG_USUARIO == true)
{
    if (ViewBag.XCOORDINACION_TECNICA == "4" && ViewBag.XCARGO == "4")
    {
        @Html.Partial("_ListaInformacionCT", Model)

    }
    else if (ViewBag.XCARGO == "1")
    {
        @Html.Partial("_ListaInformacionINSPEC", Model)
    }
    else
    {
        <h2></h2>
    }

}
else
{
    <h2></h2>
}*@
